.main {
	background-color:#DDD;
	color:#333;
}

.main h3 {
	text-transform:none;
}

.playerrow {
	margin-top:20px;
	min-width:100%
}

.borderless tbody tr td, .borderless thead tr th {
    border: none;
}

.playerbox {
	margin-top:20px;
	padding:20px;
	max-height:300px;
}



#depth {
	margin-left:0;
	margin-right:0;
}
.selected  .active a{
	font-weight:bold;
}
.liheader {
	margin-bottom:5x;
	margin-left:5px;
	margin-top:5px;
}

.liheader  ul > li {
	margin-bottom:10px;
}
.packageselect {
	background-color:#f5f5f5;
	padding:5px;
	margin-bottom:10px;
}

.sidelist li > a {
color: #004078;
font-weight:bold;
}

.sidelist li > ul li a {
	color: #428bca;
	font-weight:normal;
}


#packages {
	list-style-type: none;
	padding:0; margin:0;
}
#packages ul{
	list-style-type: none;
}
.st-key {
	margin-right:10px;
}

.save {
	margin-top:10px;
}

.image-wrapper img{
	max-width: 100%;
	height: auto;
	margin-top:15px;
}

.autooption {
	background-color:#A3F4A4;
	font-weight:bold;
}

@media \0screen {
  .image-wrapper img { 
  	width: auto; /* for ie 8 */
  }
}

@media (min-width: 992px) {
	.playerbox {
		position:fixed;
		width:inherit;
	}
	
	#depth {
		padding-right:100px;
	}
	
}