.main {
	margin-top:3%;
	background-color:#DDD;
	color:#333;
	padding:3%;
}

.main h3 {
	padding-bottom:5px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#AAA;
}



body {
	height:85vh;
	width:100vw;
}
#formcheck {
	float:right;
}