body, html { 
    overflow-x: hidden; 
    overflow-y: auto;
}

body {
	font-family:"Open Sans",sans-serif;
	background-color: #000;
	min-height: 100vh;
}


.nav {
	font-size:16px;
	margin-top:10px;
}

.learn-more {
	background: #DDD;
}

.login-bar {
	  margin: auto;
	  position: absolute;
	  top: 20vh; left: 10px; bottom: 0; right: 10px;
	  color:#FFF;
	  z-index:50;
}

.logo {
	margin-top:20px;
	margin-left:20px;
}

input {
	margin-bottom:10px;
}

.carousel-inner {
	border-style:solid;
	margin-top: 10vh;
	max-width:75vw;
	margin-left:auto;
	margin-right:auto;
}

.carousel img {
	width:auto;
}

.carousel-caption {
	background-color:#000;
	left:0;
	right:0;
	bottom:0;
	margin-bottom:0px;
	opacity: 0.75;
    filter: alpha(opacity=75); /* For IE8 and earlier */
}

#login-col {
	min-width:300px;
	min-height:250px;
}

.carousel-indicators {
	bottom:10px;
}
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}

#top {
	background-color:#FFF;
	padding-bottom:10px;
}
#content {
	background-image:url('background.jpg');
	background-repeat:no-repeat;
	height:85vh;
	width:100vw;
}
#login-button {
	margin-bottom:15px;
}

@media (max-width: 978px) {
	.carousel-inner {
		margin-top:30px;
	}
	
	.login-bar {
		top:20px;
	}
}

@media (max-width: 978px) and (orientation:landscape) {
	#content {
		height:175vh;
	}
}
