.jumbotron {
	background-image:url('./background.jpg');
	margin-bottom:0px;
	margin-top:0px;
	padding:0px;
}

.jumbotron h1{
	color:#FFF;
	font-family:"Arial Bold", sans-serif;
	margin-top:170px;
}

.jumbotron p{
	color:#FFF;
}
.jumbotron .learn-more p{
	font-size: 16px;
	margin-bottom:0px;
}

.jumbotron .learn-more h3{
	color:#FFF;
}

.main {
	background-color:#666;
	padding:10px;
	color:#FFF;
	font-family:"Open Sans", sans-serif;
}

.main h3 {
	font-family:"Open Sans",sans-serif;
	font-weight:bold;
	margin-top:10px;
	text-transform:uppercase;
}

.side-bar {
	padding-top:1px;
	padding-left:10px;
	padding-bottom:5px;
	background-color:#DDD;
}

.team-card img{
	padding:10px;
}

.team-card p {
	font-size:16px;
}


.side-bar h3 {
	font-weight:bold;
}

.side-bar .nav {
	margin:0px;
}

.nav {
	font-size:16px;
	margin-top:10px;
}

.learn-more {
	background: #DDD;
}

.login-bar {
	margin-top:25px;
}

.form-group {
	padding:1;
}

.logo {
	margin-top:20px;
	margin-left:20px;
}

input {
	margin-bottom:10px;
}

.credit {
	margin-right:20px;
}

.credit p {
	color:#AAA;
	font-size:12px;
}

.breadcrumb {
	margin-top:10px;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4\25BE" 
}
body {
	font-family:"Open Sans",sans-serif;
	background-color: #356aa0;
	min-height: 100vh;
}

#top {
	background-color:#FFF;
	padding-bottom:10px;
}
#content {
	background-color:#EEE;
	padding:1%;
	margin-top:2%;
	margin-bottom:2%;
	margin-left:2%;
	margin-right:2%;
}
#login-button {
	margin-bottom:15px;
}
#logout-form {
	margin-top:15px;
}

@media not handheld and (orientation:portrait) {
	.jumbotron {
		height:650px;
	}
	.carousel-caption h3 {
		font-size:50px;
	}

	.carousel-caption p {
		font-size:18px;
	}
}

@media handheld and (orientation:portrait) {
	.carousel-caption h3 {
	visibility:none;
	}

	.carousel-caption p {
		font-size:10px;
	}
}
