.player-header{
	background-image:url('player-bg.jpg')	;
	color:#FFF;
}

.player-header img{
	height:110px;
	margin:10px;
	border-style:solid;
	border-color:#DDD;
	border-width:2px;
}

.player-header p{
	font-size:16px;
}

.name {
	padding-bottom:5px;
	border-bottom-style:solid;
	border-bottom-color:#FFF;
	border-bottom-width:1px;
}
.position {
	padding-left:5px;
}

.sec-col {
	padding-top:50px;
}

.third-col {
	padding-top:50px;
}

.stats {
	padding:10px;
	background-color:#888;
	margin-top:10px;
}

.stats a {
	color:#000;
}

.stats .tab-pane {
	padding:10px;
}

.contract {
	color:#333;
	margin-top:10px;
}

.contract h4{
	font-weight:bold;
}

.progression {
	background-color:#AAA;
	padding:10px;
}

.salaryinput {
	padding-left:0;
	padding-right:0;
}

#salarytext {
	padding-top:10px;
	padding-bottom:10px;
}

#bonus {
	min-width:130px;
	max-width:100vw;
}

#base {
	min-width:130px;
	max-width:100vw;
}

#years {
	min-width:75px;
}

#buttonrow {
	padding-bottom:10px;
}

#ajaxtest {
	width:740px;
	height:500px;
}

#offersubmit {
	margin-top:10px;
}
