.profile-card {
	background-image:url('./profile-bg.jpg');
	background-color:#DDD;
	padding-left:20px;
	padding-bottom:20px;
}

.profile-card h3 {
	color:#DDD;
	padding-bottom:4px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:white;
}

.profile-card img {
	max-width:80%;
	max-height:150px;
	border-style:solid;
	border-color:#DDD;
	border-width:2px;
}

.main {
	padding-left:10px;
	padding-top:10px;
}

.premium {
	color:#888;
	margin-left:15px;
}

.premiumplaceholder {
	height:20px;
}

.friendslist {
	max-height:100px;
	overflow-y:auto;
}

#requestrow {
	padding-bottom:5px;
}

.middle-col {
	color:#DDD;
	margin-top:60px;
	overflow-y:auto;
	max-height:200px;
}

.middle-col h4 {
	font-family:"Verdana",sans-serif;
	color:#FFF;
}

.middle-col p {
	font-size:16px;
}

.third-col {
	color:#DDD;
	margin-top:60px;
}

.third-col h4 {
	font-family:"Verdana",sans-serif;
	color:#FFF;
}

.third-col p {
	font-size:16px;
	
}.last-col {
	color:#DDD;
	padding-top:100px;
}

.last-col .row {
	padding-bottom:15px;
}

.modal-body {
	color:#2d2d2d;
}

.modal-footer {
	padding:5px;
}
last-col .btn {
	float:left;
}

.modal-footer btn {
	float:right;
}

#widgets {
	margin-top:10px;
	margin-left:0;
	margin-right:0;
	color:#2d2d2d;
}
#widgets > div {
	background-color:#DDD;
	padding:10px;
}

#widgets h4 {
	text-align:center;
}

.news-header {
	font-weight:bold;
}

.news-time {
	margin-left:20px;
}