#login-form {
	margin-top:15px;
}

.main {
	margin-top:3%;
	background-color:#DDD;
	color:#333;
	padding:3%;
}

.main h3 {
	padding-bottom:5px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#AAA;
}

#signup {
	margin-top:20px;
}

body {
	background-image:url('background.jpg');
	background-repeat:no-repeat;
	height:85vh;
}
#formcheck {
	float:right;
}

#to {
	margin-bottom:0;
}

#resultdiv {
	margin-left:2px;
	width:30%;
	padding:0;
}

.userrow {
	padding:10px;
	margin-left:0;
	width:100%;
	
}
.userrow:hover {
	background-color: #EEE;
}