.panel {
	margin-top:10px;
}


table {
	color:black;
	font-size:14px;
}

.panel-heading {
	font-size:16px;
	font-weight:bold;
}
.title-bar {
	font-weight:bold;
}

.main {
	padding-top:10px;
}

.modal-body {
	color:#2d2d2d;
}

.modal-footer {
	padding:5px;
}
.team-header {
	background-color:#888;
	padding-bottom:10px;
	color:#FFF;
	padding-left:10px;
}

.middle-col {
	padding-top:80px;
}
.team-header h3 {
	text-transform:none;
	padding-top:0;
	color:#FFF;
}
.team-header a{
	color:#CCC;
}
.team-header img {
	height:150px;
}

.team-header p {
	font-size:16px;
}

.btn-danger{
	float:right;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
}

.btn-success{
	float:right;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
}

.btn-info{
	float:right;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
}

.btn-warning{
	float:right;
	margin-right:10px;
	margin-top:5px;
	margin-bottom:5px;
}

.injured {
	background-color:#FFB0B0;
}

.last-col {
	padding-top:100px;
}

.bottom-border {
	border-bottom: 4px solid #DDD;
}

#teamname {
	padding-bottom:5px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#FFF:
}

.player-header {
	color:#2d2d2d;
	float:right;
	margin:10px;
}

.playerbox {
	padding:20px;
	color:#2d2d2d;
}

.player-td {
	background-color:#F2F2F2;
}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
@media (max-width:600px) {
.nomobile {
	visibility: hidden;
	}
}

@media handheld and (orientation:portrait) {
	.nomobile {
		visibility: hidden;
	}
}

@media handheld and (orientation:landscape) {
	.nomobile {
		visibility: visible;
	}
}




