.panel {
	margin-left:10px;
}


table {
	color:black;
	font-size:14px;
}

.panel-heading {
	font-size:16px;
	font-weight:bold;
}
.title-bar {
	font-weight:bold;
}

.injured {
	background-color:#FFB0B0;
}
@media (max-width:600px) {
.nomobile {
	visibility: hidden;
	}
}

@media handheld and (orientation:portrait) {
	.nomobile {
		visibility: hidden;
	}
}

@media handheld and (orientation:landscape) {
	.nomobile {
		visibility: visible;
	}
}




