.panel {
	margin-top:10px;
}


table {
	color:black;
	font-size:14px;
}

.panel-heading {
	font-size:16px;
	font-weight:bold;
}
.title-bar {
	font-weight:bold;
}

.main {
	padding-top:10px;
}
.team-header {
	background-color:#888;
	padding-bottom:10px;
	color:#FFF;
}

.middle-col {
	padding-top:80px;
}
.team-header h3 {
	text-transform:none;
	padding-top:0;
}
.team-header a{
	color:#CCC;
}
.team-header img {
	height:150px;
}

.team-header p {
	font-size:16px;
}

.btn-danger{
	float:right;
	margin-right:10px;
	margin-top:5px;
}

.btn-success{
	float:right;
	margin-right:10px;
	margin-top:5px;
}

.btn-info{
	float:right;
	margin-right:10px;
	margin-top:5px;
}

.injured {
	background-color:#FFB0B0;
}

#teamname {
	padding-bottom:5px;
	border-bottom-style:solid;
	border-bottom-width:1px;
}

@media (max-width:600px) {
.nomobile {
	visibility: hidden;
	}
}

@media handheld and (orientation:portrait) {
	.nomobile {
		visibility: hidden;
	}
}

@media handheld and (orientation:landscape) {
	.nomobile {
		visibility: visible;
	}
}




