.jumbotron {
	background-image:url('./background.jpg');
	height: 500px;
	margin-right:20px;
}

.jumbotron h1{
	color:#FFF;
	font-family:"Arial Bold", sans-serif;
	margin-top:160px;
}

.jumbotron p{
	color:#FFF;
}

.nav {
	font-size:16px;
}

.learn-more {
	background: #DDD;
}

.login-bar {
	margin-right:20px;
	margin-top:25px;
}

.logo {
	margin: 10px;
}

.col-md-3 {
	background-color:#DDD;
	height:200px;
}