.jumbotron {
	background-image:url('./background.jpg');
	height: 735px;
	margin-left:70px;
	margin-right:20px;
}

.jumbotron h1{
	color:#FFF;
	font-family:"Arial Bold", sans-serif;
	margin-top:160px;
}

.jumbotron p{
	color:#FFF;
	margin-bottom:130px;
}
.jumbotron .learn-more p{
	font-size: 16px;
	margin-bottom:0px;
}

.jumbotron .learn-more h3{
	color:#FFF;
}

.nav {
	font-size:16px;
	margin-top:10px;
	margin-left:35px;
}

.learn-more {
	background: #DDD;
}

.login-bar {
	margin-top:25px;
}

.form-group {
	padding:1;
}

.logo {
	margin-top:20px;
	margin-left:20px;
}

input {
	margin-bottom:10px;
}

.credit {
	margin-right:20px;
}

.credit p {
	color:#CCCCCC;
	font-size:12px;
}

.btn {
	color:#FFF;
	background-color: #428bca;
	float:right;
}

body {
	font-family:"Open Sans", sans-serif;
	background-color:#EEE;
}

.col-md-1 {
	padding-left:0px;
}
